@import url(./general.css);

/* 1° BREAKPOINT PARA ADAPTAR SECCION DE SERVICIOS Y TIPS */

@media screen and (min-width: 993px) and (max-width: 1355px) {

    /* SERVICES CARDS */
    
    #services > section:last-child {
        width: 1100px;
    }

    /* TIPS  */

    #services_tips main {
        min-width: 1100px;
    }

    #services_tips img {
        width: 550px;
    }

    #services_tips .tips_items {
        width: 450px;
    }

    .tips_items > span + div {
        width: 330px;
    }

    /* PRICE ARTICLE */
    #pricing_plans {
        width: 1100px;
    }

    /* WORKERS */
    #team_workers {
        width: 1100px;
    }

    /* CONTACT */
    #contact_form{
        width: 1100px;
    }
}

/* 2° BREAKPOINT PARA ADAPTAR SECCION DE SERVICIOS Y TIPS */

@media screen and (min-width: 994px) and (max-width: 1155px) {

    /* SERVICES CARDS */
    
    #services > section:last-child {
        width: 900px;
    }

    /* TIPS */

    #services_tips main {
        min-width: 900px;
    }

    #services_tips img {
        width: 450px;
    }

    #services_tips .tips_items {
        width: 300px;
        margin-bottom: 1em;
    }

    .tips_items > span {
        width: 35px;
        height: 35px;
        border-radius: 20px;
        
        font-size: 20px;
    }

    .tips_items > span + div {
        width: 260px;
    }

    /* PRICE ARTICLE */

    #pricing_plans {
        width: 900px;
    }

    /* WORKERS */
    #team_workers {
        width: 900px;
    }

    .worker {
        height: auto;
    }

    .photo {
        height: 220px;
    }

    .name {
        padding: 1em 2em;
    }

    /* CONTACT */
    #contact_form{
        width: 900px;
    }
}

/* BREAKPOINT:
    1) OCULTAR NAVBAR Y MOSTRAR "HAMBURGUER MENU".
    2) ACHICO ALTO DEL "HOME".

    ** 3° BREAKPOINT PARA ADAPTAR SECCION DE SERVICIOS Y TIPS **
    3) ACHICO ANCHO DE LA SECCION "SERVICES" -> RESTO UNA COLUMNA A LA GRILLA DE "CARDS".
    4) COLOCO LOS TIPS POR DEBAJO DE LA IMAGEN (AUMENTO SU TAMAÑO).

    5) DISMINUYO TAMAÑO DEL TEXTO DEL CONTENEDOR "VIDEO".
*/

@media screen and (max-width: 993px) {

    /* HEADER Y MENU DEL NAVBAR*/

    header {
        /* min-height: 8.5vh; */
        min-height: 80px;
    }

    header > nav {
        width: 800px;
    }

    header > nav > ul {
        position: absolute;
        top: 199%;
        left: 0;
        transform: translate(0, -9%);

        width: 98%;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        flex-direction: column;

        background-color: var(--blue_primary);
    }

    .hidden {
        display: none; /* para luego ocultarlo con js */
    }

    header > nav > ul > li {
        display: block;
        max-width: 100%;
        margin: 10px;
        margin-bottom: 7px;
    }

    header > nav > ul > li > a {
        padding: .5em 1em;
    }

    header > nav > ul > li > a::after    {
        border-radius: 5px;
    }

    header > nav > div > button {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        width: 30px;
        height: 25px;
        margin-left: 25px;
        
        outline: none;
        
        background-color: inherit;
    
        cursor: pointer;
    }

    /* ARTICLE HOME */

    #home {
        height: 400px;
    }

    #home_photo {
        display: none;
    }

    /* SERVICES CARDS */
    
    #services > section:last-child {
        width: 700px;
        grid-template-columns: 1fr 1fr;
    }

    /* TIPS */

    #services_tips main {
        min-width: auto;

        flex-direction: column;
    }

    #services_tips img {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        
        width: 700px;
    }

    #services_tips section:last-child {
        margin-top: 3em;
        align-items: flex-start;
    }

    .tips_items {
        width: auto;
        margin-bottom: 2em;
    }

    /* VIDEO SECTION */

    #video_article {
        height: 600px;
    }

    #video_article section {
        height: 390px;
        width: 90%;
    }

    #points {
        width: 20px;
    }

    #circle {
        width: 40px;
        right: -20px;
    }

    #video_container > p {
        font-size: 14px;
    }

    #video_container > h1 {
        font-size: 20px;
    }

    #video_container > h1 + p {
        width: 70%;
        margin-bottom: 20px;
        font-size: 13px;
    }

    /* PRICE ARTICLE */

    #pricing_plans {
        width: 700px;

        grid-template-columns: 1fr 1fr;
        row-gap: 25px;
    }

    /* WORKERS */
    #team_article {
        padding-bottom: 100px;
    }

    #team_workers {
        width: 700px;

        grid-template-columns: 1fr 1fr;
    }

    /* CONTACT */
    #contact_form {
        width: 700px;
        grid-template-columns: 1fr;
    }

    #contact_form aside {
        margin-left: 0;
        margin-top: 45px;
    }

    #contact_form a {
        width: 190px;
        bottom: 39%;
        left: calc(100% - 190px);
    }

}

/* 3° BREAKPOINT PARA ADAPTAR SECCION DE SERVICIOS Y TIPS:
    1) ACHICO ANCHO DE LA SECCION "SERVICES" -> RESTO UNA COLUMNA A LA GRILLA DE "CARDS".
    2) ACHICO TAMAÑO DE LOS TIPS Y LA IMAGEN.
*/

@media screen and (max-width: 755px) {

    /* SECCION DE CARDS */
    
    #services > section:last-child {
        width: 90%;
        grid-template-columns: 1fr;
    }

    /* SECCION DE SERVICES TIPS */

    #services_tips img {
        /* max-width: 450px; */
        width: 90vw;
        margin: auto;
    }

    #services_tips section:last-child {
        max-width: 500px;
        align-items: center;
    }

    .tips_items {
        max-width: 400px;
    }

    .tips_items > span {
        width: 60px;
        height: 40px;
        border-radius: 20px;
        
        font-size: 20px;
    }

    /* PRICE ARTICLE */

    #pricing_plans {
        width: 90vw;

        grid-template-columns: 1fr;
    }

    /* WORKERS */
    #team_workers {
        width: auto;
        max-width: 450px;
        min-height: 900px;

        margin: auto;
        padding: 1em;

        grid-template-columns: 1fr;
    }

    .worker {
        max-height: 600px;
    }

    .photo {
        max-height: 80%;
    }

    .name {
        height: 20%;
    }

    /* CONTACT */
    #contact_article  section:first-of-type {
        width: 100%;
    }
    #contact_form {
        max-width: 540px;
    }
    #contact_form form {
        height: auto;
        display: flex;
        flex-direction: column;
    }
    #contact_form form input {
        min-width: 540px;
        max-width: 540px;
        display: block;
    }
    #contact_form form textarea {
        min-height: 200px;
    }
    #contact_form a {
        bottom: 30%;
    }
}

/* BREAKPOINT: OCULTO BOTON "Get In Touch" DEL HEADER - ACHICO ARTICULO "MENU" Y SU CONTENIDO. */

@media screen and (max-width: 575px) {

    /* HEADER */

    header > nav > div > a {
        display: none;
    }

    /* ARTICLE HOME */
    
    #home {
        padding: 1em;
        height: auto;
    }

    #home_main {
        min-width: 100%;
        margin: 0;
        align-self: flex-start;
    }

    #home_main h1 {
        font-size: 35px;
    }

    #home_main h1 + p {
        width: 100%;
        display: block;
        font-size: 14px;
    }

    /* SUBSCRIBE SECTION */
    #suscribe_article {
        padding-bottom: 70px;
    }

    #suscribe_article form {
        width: 90%;
    }

    #suscribe_article form input {
        height: 55px;
    }

    #suscribe_article form a {
        bottom: 0;
        left: 0;
        transform: translate(0, 0);
    
        width: 100%;
        height: 50px;
        margin-top: 45px;

        line-height: 50px;

        border-radius: 25px;
    }

    /* TESTIMONIALS SECTION */
    #testimonials_slider {
        min-width: 300px;
        max-width: 300px;
    }

    #testimonials_slider label {
        bottom: 60px;
    }

    #slide_container section p:first-of-type {
        font-size: 14px;
    }

    /* CONTACT */
    #contact_form {
        max-width: 90%
    }
    #contact_form form input {
        min-width: 100%;
        max-width: 100%;
    }
    #contact_form aside {
        position: relative;
        top: 85px;
    }
    #contact_form a {
        bottom: 30%;
        left: 0;
    }
}

/* BREAKPOINT: ADAPTO TEXTO DENTRO DEL CONTENEDOR "VIDEO". */

@media screen and (max-width: 380px) {

    /* VIDEO SECTION */

    #video_container > p {
        display: inline-block;
        width: 100px;
        text-align: center;
    }

    #video_container > h1 {
        display: inline-block;
        width: 120px;
        text-align: center;
    }

    #video_article section {
        min-height: 500px;
    }
}